# DATABASE 

DATABASE_ENGINE = django.db.backends.mysql
DATABASE_NAME = hospital_ms
DATABASE_USER = developer
DATABASE_PASSWORD = development
DATABASE_HOST = localhost
DATABASE_PORT = 3306

# APPLICATION

SITE_NAME = Hospital MS
SECRET_KEY = django-insecure-r5#6f#%e5m@d1wc#&7(pxa_kxdwk!_qmki)f9i=!l37sjo*kv_

DEBUG = 0
# 1 = True
# 0 = False

ALLOWED_HOSTS = *
# Comma separated e.g 127.0.0.1, 192.168.128.2

TIME_ZONE = Africa/Nairobi

## FOR MPESA-PAYMENT SIMULATION

MPESA_TOKEN =
MPESA_AUTHORIZATION = 
MPESA_PASSWORD = 